<%= form_with(model: problems_technique) do |form| %>
  <% if problems_technique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(problems_technique.errors.count, "error") %> prohibited this problems_technique from being saved:</h2>

      <ul>
        <% problems_technique.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :problem_id %>
    <%= form.text_field :problem_id %>
  </div>

  <div class="field">
    <%= form.label :technique_id %>
    <%= form.text_field :technique_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
