<p id="notice"><%= notice %></p>

<h1>Problems Techniques</h1>

<table>
  <thead>
    <tr>
      <th>Problem</th>
      <th>Technique</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problems_techniques.each do |problems_technique| %>
      <tr>
        <td><%= problems_technique.problem_id %></td>
        <td><%= problems_technique.technique_id %></td>
        <td><%= link_to 'Show', problems_technique %></td>
        <td><%= link_to 'Edit', edit_problems_technique_path(problems_technique) %></td>
        <td><%= link_to 'Destroy', problems_technique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problems Technique', new_problems_technique_path %>
