<p id="notice"><%= notice %></p>

<p>
  <strong>Problem:</strong>
  <%= @problems_technique.problem_id %>
</p>

<p>
  <strong>Technique:</strong>
  <%= @problems_technique.technique_id %>
</p>

<%= link_to 'Edit', edit_problems_technique_path(@problems_technique) %> |
<%= link_to 'Back', problems_techniques_path %>
