<div class="technique">
  <div class="symptoms d-flex">
    <% technique.problems.each do |problem| %>
      <div class="symptom"><%= problem.name %></div>
    <% end %>
  </div>

  <%= image_tag("behaviour-therapy.jpg", :alt => technique.title, :class => "card-img-top") %>

  <div class="card-body">
    <h5 class="card-title"><%= technique.title %></h5>
    <p class="card-text">
      <small>
        <span class="text-muted"><%= technique.description %></span><br />
        <br />

        <span class="text-muted">Age:</span>
        <% if technique.age_start == technique.age_end %>
          <%= technique.age_start %>
        <% else %>
          <%= technique.age_start %>-<%= technique.age_end %>
        <% end %>
        <span>years</span><br />

        <span class="text-muted">Gender:</span>
        <% if technique.gender.eql?(:both) %>
          male, female
        <% else %>
          <%= technique.gender %>
        <% end %>
        </span><br />

        <span class="text-muted">Steps:</span> <%= technique.steps.count %><br />

        <span class="text-muted">Duration:</span>
        <% if technique.duration_start == technique.duration_end %>
          <%= technique.duration_start %>
        <% else %>
          <%= technique.duration_start %>-<%= technique.duration_end %>
        <% end %>
        <span>hours</span><br />

        <br />
        <span class="text-muted">
          Participants: <%= technique.clients.count %> &emsp;
          Likes: <%= technique.likes.where(is_like: true).count %> &emsp;
          Dislikes: <%= technique.likes.where(is_like: false).count %>
        </span>
      </small>
    </p>
  
    <div class="link">
      <% if show_details == true %>
        <p><%= link_to "DETAILS", technique_path(technique) %><p>
      <% end %>
    </div>
  </div>
</div>
