<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @message.text %>
</p>

<p>
  <strong>From client:</strong>
  <%= @message.from_client %>
</p>

<p>
  <strong>Client:</strong>
  <%= @message.client_id %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @message.coach_id %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
