<%= render 'layouts/navigation', nav_for: 'login' %>

<div class="login">
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Create new password</h1>

  <p class="text-center">Your new password must contain at least 8 characters, include a number and lowercase letter</p>

  <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
    <% if @user.errors.any? %>
      <div class='error_messages'>
        <% for message in @user.errors.full_messages %>
          <p class='color-red'><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class='field mb-3'>
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class='field mb-3'>
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <div class='actions mb-3'>
      <%= f.submit 'SAVE CHANGES', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>

