<%= render 'layouts/navigation', nav_for: 'login' %>

<div class="login">
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Reset Password</h1>

  <p class="text-center">Enter the e-mail associated with your account and we'll send an e-mail with instructions to reset your password.</p>

  <%= form_tag password_resets_path, :method => :post do %>
    <div class='field mb-3'>
      <%= label_tag :email, nil, class: 'form-label' %>
      <%= text_field_tag :email, params[:email], class: 'form-control' %>
    </div>

    <div class='actions mb-3'>
      <%= submit_tag "SEND", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer' %>
