<div class="coach-card">
  <div class="image-info">
    <div class="image">
      <%= image_tag(UserManager::ProfileImage.call(user), size: "50x50", alt: user.name) %>
    </div>

    <div class="info">
      <p>
        <strong><%= user.name %> <%= user.is_verified %></strong>
      </p>

      <p><%= user.coach.bio %></p>
      <p><%= user.profile.age %> years | <%= user.profile.gender %> | <%= CoachManager::ActiveClientsCount.call(user.coach) %> clients</p>
    </div>
  </div>

  <p class="mb-0">Areas of Expertise</p>
  <div class="problems">
    <% user.profile.problems.each do |problem| %>
      <div class="problem"><%= problem.name %></div>
  <% end %>
  </div>

  <p class="mt-3">Education: <%= user.coach.education %></p>
  <p>Work: Experience <%= user.coach.work %></p>
  <p>Licenses and Certificates: <%= user.coach.licenses %></p>

  <% if user.coach.links.include?("://") %>
    <p>Link: <%= link_to user.coach.links.split("://")[1].split("/")[0], user.coach.links %></p>
  <% else %>
    <p>Link: <%= user.coach.links %></p>
  <% end %>

  <div class="link">
    <% if Coach.for_client(current_user.client).empty? %>
      <p><%= link_to 'SEND AN INVITATION', new_invitation_path(coach_id: user.coach.id) %></p>
    <% elsif Coach.for_client(current_user.client).first.id == user.coach.id %>
      <p><%= link_to 'END COOPERATION', user.coach.invitations.where(client: current_user.client, status: 1).last %></p>
    <% else %>
      <p>You cannot invite a coach. First, complete the cooperation with your current coach.</p>
    <% end %>
  </div>
</div>
