<p>
  <%= image_tag(UserManager::ProfileImage.call(user), size: "50x50", alt: current_user.name) %>
  <%= user.name %>
  <strong><%= user.is_verified %></strong>
</p>

<p>Current Coach</p>
<p><%= user.coach.bio %></p>

<p><%= user.profile.age %> years | <%= user.profile.gender.name %> | <%= CoachManager::ActiveClientsCount.call(user.coach) %> clients</p>

<p>
  Areas of Expertise
  <% user.profile.problems.each do |problem| %>
    <%= problem.name %>
  <% end %>
</p>

<p>Education <%= user.coach.education %></p>
<p>Work Experience <%= user.coach.work %></p>
<p>Licenses and Certificates <%= user.coach.licenses %></p>

<% if ClientManager::Coach.call(current_user.client).nil? %>
  <p><%= link_to 'SEND AN INVITATION', new_invitation_path(coach_id: user.coach.id) %></p>
<% elsif ClientManager::Coach.call(current_user.client).id == user.coach.id %>
  <p><%= link_to 'END COOPERATION', user.coach.invitations.where(client: current_user.client, status: 1).last %></p>
<% else %>
  <p>You cannot invite a coach. First, complete the cooperation with your current coach.</p>
<% end %>
