<div class="coach-card">
  <div class="image-info">
    <div class="image">
      <%= image_tag(profile_image(user), size: "50x50", alt: user.name) %>
    </div>

    <div class="info">
      <p>
        <strong><%= user.name %> <%= user.is_verified %></strong>
      </p>

      <p>Coach</p>
      <p><%= user.coach.bio %></p>
      <p><%= user.profile.age %> years | <%= user.profile.gender %> | <%= user.coach.active_clients_count %> clients</p>
    </div>
  </div>

  <p class="mb-0">Areas of Expertise</p>
  <div class="problems">
    <% user.profile.problems.each do |problem| %>
      <div class="problem"><%= problem.name %></div>
  <% end %>
  </div>

  <div class="link">
    <p><%= link_to 'SEE DETAILS', coach_path(user.coach) %></p>
  </div>
</div>
