<%= form_with(model: completed_step) do |form| %>
  <% if completed_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(completed_step.errors.count, "error") %> prohibited this completed_step from being saved:</h2>

      <ul>
        <% completed_step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="field">
    <%= form.label :step_id %>
    <%= form.text_field :step_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
