<p id="notice"><%= notice %></p>

<h1>Completed Steps</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Step</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed_steps.each do |completed_step| %>
      <tr>
        <td><%= completed_step.client_id %></td>
        <td><%= completed_step.step_id %></td>
        <td><%= link_to 'Show', completed_step %></td>
        <td><%= link_to 'Edit', edit_completed_step_path(completed_step) %></td>
        <td><%= link_to 'Destroy', completed_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Completed Step', new_completed_step_path %>
