<%= form_with(model: steps_technique) do |form| %>
  <% if steps_technique.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(steps_technique.errors.count, "error") %> prohibited this steps_technique from being saved:</h2>

      <ul>
        <% steps_technique.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :step_id %>
    <%= form.text_field :step_id %>
  </div>

  <div class="field">
    <%= form.label :technique_id %>
    <%= form.text_field :technique_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
