<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="all-techniques coaches-view">
  <div class="left-column">
    <div class="filters">
      <h3>Filters</h3>

      <%= form_with url: '/all-techniques', method: :get do |f| %>
        <div class="problem field mb-3">
          <p>Problem<br>
            <%= collection_check_boxes('filters', 'problem_ids', Problem.all, :id, :name) %>
          </p>
        </div>

        <div class="gender field mb-3">
          <p>Gender<br>
            <%= collection_check_boxes('filters', 'genders', Client.genders.hash, :first, :first) %>
          </p>
        </div>

        <div class='actions'>
          <%= f.submit 'SEARCH', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-column">
    <div class="techniques">
      <% @techniques.each do |technique| %>
        <%= render 'layouts/technique', technique: technique, show_details: true, for_coach: true %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>
