<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="all-techniques coaches-view">
  <div class="left-column">
    <div class="filters">
      <h3>Filters</h3>

      <div class="show">
        <p>Show<br>
          <input type="checkbox" id="all">
          <label for="all">All</label><br>
          <input type="checkbox" id="popular">
          <label for="popular">Popular</label><br>
          <input type="checkbox" id="new">
          <label for="new">New</label><br>
          <input type="checkbox" id="recommended-by-me">
          <label for="recommended-by-me">Recommended by me</label>
        </p>
      </div>

      <div class="expertise">
        <p>Problems<br>
          <input type="checkbox" id="anxiety">
          <label for="anxiety">Anxiety</label><br>
          <input type="checkbox" id="depression">
          <label for="depression">Depression</label><br>
          <input type="checkbox" id="irriability">
          <label for="irriability">Irriability</label><br>
          <input type="checkbox" id="stress">
          <label for="stress">Stress</label>
        </p>
      </div>

      <div class="gender">
        <p>Gender<br>
          <input type="checkbox" id="all">
          <label for="all">All</label><br>
          <input type="checkbox" id="male">
          <label for="male">Male</label><br>
          <input type="checkbox" id="female">
          <label for="female">Female</label>
        </p>
      </div>

      <div class="age">
        <p>Age<br>
          <input type="checkbox" id="to-25-years">
          <label for="to-25-years">To 25 years</label><br>
          <input type="checkbox" id="25-35-years">
          <label for="25-35-years">25-35 years</label><br>
          <input type="checkbox" id="35-45-years">
          <label for="35-45-years">35-45 years</label><br>
          <input type="checkbox" id="over-45-years">
          <label for="over-45-years">Over 45 years</label>
        </p>
      </div>
    </div>
  </div>

  <div class="right-column">
    <div class="techniques">
      <% Technique.all.each do |technique| %>
        <%= render 'layouts/techniques/coach', technique: technique, show_details: true %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'layouts/footer/footer' %>
