<h1>My Techniques</h1>

<p><%= link_to "Dashboard", dashboard_path %></p>
<p>All</p>
<p><%= link_to "Recommended", recommended_techniques_path %></p>
<p><%= link_to "In progress", in_progress_techniques_path %></p>
<p><%= link_to "Completed", completed_techniques_path %></p>

<% current_user.profile.techniques.each do |technique| %>
  <span>Title: <strong><%= technique.title %></strong><br></span>
  <span>Description: <strong><%= technique.description %></strong><br></span>
  <span>Age: <strong><%= technique.age_start %>-<%= technique.age_end %> years</strong><br></span>
  <span><strong><%= ClientManager::CompletedStepsCount.call(technique) %>/<%= technique.steps.count %> steps passed</strong><br></span>

  <span>Problems: <strong>
    <% technique.problems.each do |problem| %>
      <span><%= problem.name %></span>
    <% end %>
  </strong><br></span>

  <span>Gender: <strong>
    <% technique.genders.each do |gender| %>
      <span><%= gender.name %></span>
    <% end %>
  </strong><br></span>

  <span>Steps: <strong><%= technique.steps.count %></strong><br></span>

  <span>Duration: <strong>
    <% if technique.duration_start == technique.duration_end %>
      <%= technique.duration_start %>
    <% else %>
      <%= technique.duration_start %>-<%= technique.duration_end %>
    <% end %>
  hours</strong><br></span>


  <span>Participants: <strong><%= technique.clients.count %></strong><br></span>
  <span>Likes: <strong><%= technique.likes.where(is_like: true).count %></strong><br></span>
  <span>Dislikes: <strong><%= technique.likes.where(is_like: false).count %></strong><br></span>

  <span>
    <% if ClientManager::CompletedStepsCount.call(technique) == 0 %>
      GET STARTED
    <% elsif ClientManager::CompletedStepsCount.call(technique) < technique.steps.count %>
      CONTINUE
    <% else %>
      RESTART
    <% end %>
  <br></span>
  <br>
<% end %>
