<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="all-techniques">
  <div class="links">
    <p><%= link_to "My Techniques", my_techniques_path %></p>
    <p><%= link_to "Recommended", recommended_techniques_path %></p>
    <p><%= link_to "In progress", in_progress_techniques_path %></p>
    <p>Completed</p>
  </div>
  <hr />

  <div class="techniques-coach">
    <div class="left-column">
      <div class="techniques">
        <% ClientManager::TechniquesCompleted.call(current_user.client).each do |technique| %>
          <%= render 'layouts/techniques/technique', technique: technique, show_continue: true, show_details: false %>
        <% end %>
      </div>
    </div>

    <div class="right-column">
      <% unless Coach.for_client(current_user.client).empty? %>
        <%= render 'layouts/coaches/coach', user: Coach.for_client(current_user.client).first.user %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer/footer' %>
