<p id="notice"><%= notice %></p>

<h1>Techniques</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image</th>
      <th>Age start</th>
      <th>Age end</th>
      <th>Duration start</th>
      <th>Duration end</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @techniques.each do |technique| %>
      <tr>
        <td><%= technique.title %></td>
        <td><%= technique.description %></td>
        <td><%= technique.image %></td>
        <td><%= technique.age_start %></td>
        <td><%= technique.age_end %></td>
        <td><%= technique.duration_start %></td>
        <td><%= technique.duration_end %></td>
        <td><%= link_to 'Show', technique %></td>
        <td><%= link_to 'Edit', edit_technique_path(technique) %></td>
        <td><%= link_to 'Destroy', technique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Technique', new_technique_path %>
