<%= render 'layouts/navigation', nav_for: 'app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="all-techniques">
  <div class="links">
    <p><%= link_to "My Techniques", my_techniques_path %></p>
    <p>Recommended</p>
    <p><%= link_to "In progress", in_progress_techniques_path %></p>
    <p><%= link_to "Completed", completed_techniques_path %></p>
  </div>
  <hr />

  <div class="techniques-coach">
    <div class="left-column">
      <div class="techniques">
        <% techniques_not_started(current_user.client).each do |technique| %>
          <%= render 'layouts/technique', technique: technique, show_continue: true, for_view: "client" %>
        <% end %>
      </div>
    </div>

    <div class="right-column">
      <% unless Coach.for_client(current_user.client).empty? %>
        <%= render 'layouts/coach', user: Coach.for_client(current_user.client).first.user, full_info: true %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
