<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @technique.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @technique.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @technique.image %>
</p>

<p>
  <strong>Age start:</strong>
  <%= @technique.age_start %>
</p>

<p>
  <strong>Age end:</strong>
  <%= @technique.age_end %>
</p>

<p>
  <strong>Duration start:</strong>
  <%= @technique.duration_start %>
</p>

<p>
  <strong>Duration end:</strong>
  <%= @technique.duration_end %>
</p>

<%= link_to 'Edit', edit_technique_path(@technique) %> |
<%= link_to 'Back', techniques_path %>
