<p id="notice"><%= notice %></p>

<p>
  <strong>Is like:</strong>
  <%= @like.is_like %>
</p>

<p>
  <strong>Technique:</strong>
  <%= @like.technique_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @like.client_id %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
