<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="dashboard">

  <div class="left-column">

    <div class="analytics text-center">
      <div class="analytic">
        <p class="title">Total number of<br>clients</p>

        <div class="number">
          <p><strong><%= current_user.coach.total_clients_count %></strong></p>
        </div>
      </div>

      <div class="analytic">
        <p class="title">Current number of<br>users</p>

        <div class="number">
          <p><strong><%= current_user.coach.active_clients_count %></strong></p>
        </div>
      </div>

      <div class="analytic">
        <p class="title">Total number of<br>techniques used</p>

        <div class="number">
          <p><strong><%= current_user.coach.techniques_count %></strong></p>
        </div>
      </div>

      <div class="analytic">
        <p class="title">Total number of<br>likes</p>

        <div class="number">
          <p><strong><%= current_user.coach.likes_count %></strong></p>
        </div>
      </div>
    </div>

    <h3 class="mt-3">My clients</h3>

    <div class="clients">
      <% Client.where_coach(current_user.coach).each do |client| %>
        <%= render 'layouts/clients/client', user: client.user %>
      <% end %>
    </div>

    <h3 class="mt-3">Techniques</h3>

    <div class="techniques">
      <% Client.where_coach(current_user.coach).each do |client| %>
        <% techniques_in_progress(client).each do |technique| %>
          <%= render 'layouts/techniques/coach', technique: technique, show_details: true %>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="right-column">
    <div class="client-card">
      <div class="image-info">
        <div class="image">
          <%= image_tag(profile_image(current_user), size: "50x50", alt: current_user.name) %>
        </div>

        <div class="info">
          <p>
            <strong><%= current_user.name %></strong>
            <%= link_to "[Edit]", update_coach_info_path %>
          </p>
          
          <p><%= current_user.email %></p>
          <p><%= current_user.profile.age %> years | <%= current_user.profile.gender %></p>
        </div>
      </div>

      <p>Areas of Expertise</p>
      <div class="problems">
        <% current_user.profile.problems.each do |problem| %>
          <div class="problem"><%= problem.name %></div>
        <% end %>
      </div>
    </div>

    <div class="notifications">
      <h3>Notifications</h3>

      <% current_user.profile.coach_notifications.last(10).reverse.each do |notification| %>
        <div class="client-card">
          <div class="image-info">
            <div class="image">
              <%= image_tag(profile_image(current_user), size: "50x50", alt: current_user.name) %>
            </div>

            <div class="info">
              <p><%= notification.text %><br></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>

<%= render 'layouts/footer/footer' %>
