<h1>Dashboard</h1>

<p id="notice"><%= notice %></p>

<p><%= link_to "Edit Personal Information", update_client_info_path %></p>
<p><strong><%= current_user.name %></strong></p>
<p><strong><%= current_user.email %></strong></p>
<p><strong><%= current_user.profile.age %> years | <%= current_user.profile.gender.name %></strong></p>

<p>Total progress: <strong><%= ClientManager::TechniquesCompletedCount.call(current_user.client) %></strong> techniques completed</p>
<p>Current progress: <strong><%= ClientManager::TechniquesInProgressCount.call(current_user.client) %></strong> techniques in process</p>
<p>Total time: <strong><%= ClientManager::HoursCompleted.call(current_user.client) %></strong> hours for techniques</p>
<p>Current time: <strong><%= ClientManager::HoursInProgress.call(current_user.client) %></strong> hours for techniques</p>

<p>Problems: <strong>
  <% current_user.profile.problems.each do |problem| %>
    <%= problem.name %>
  <% end %>
</strong></p>

<% if ClientManager::CoachUser.call(current_user.client).nil? %>
  <% if ClientManager::UnconfirmedInvitation.call(current_user.client).nil? %>
    <p><%= link_to "You don't have a coach yet", coaches_path %></p>
  <% else %>
    <p>Waiting for confirmation</p>
    <p><strong><%= ClientManager::UnconfirmedInvitation.call(current_user.client).user.name %></strong></p>
    <p><%= link_to 'CANCEL', current_user.client.invitations.where(status: 0).last %></p>
  <% end %>
<% else %>
  <p>Current coach:
  <strong><%= ClientManager::CoachUser.call(current_user.client).name unless ClientManager::CoachUser.call(current_user.client).nil? %></strong><br>
  <%= link_to 'End Cooperation', current_user.client.invitations.where(status: 1).last %>
  </p>
<% end %>

<p>Notifications:</p>
<p>
  <% current_user.profile.notifications.each do |notification| %>
    <span><%= notification.text %><br></span>
  <% end %>
</p>

<p>Techniques:</p>
<p>
  <% current_user.profile.techniques.each do |technique| %>
    <span>Title: <strong><%= technique.title %></strong><br></span>
    <span>Description: <strong><%= technique.description %></strong><br></span>
    <span>Age: <strong><%= technique.age_start %>-<%= technique.age_end %> years</strong><br></span>
    <span><strong><%= ClientManager::CompletedStepsCount.call(technique) %>/<%= technique.steps.count %> steps passed</strong><br></span>

    <span>Problems: <strong>
      <% technique.problems.each do |problem| %>
        <span><%= problem.name %></span>
      <% end %>
    </strong><br></span>

    <span>Gender: <strong>
      <% technique.genders.each do |gender| %>
        <span><%= gender.name %></span>
      <% end %>
    </strong><br></span>

    <span>Steps: <strong><%= technique.steps.count %></strong><br></span>

    <span>Duration: <strong>
      <% if technique.duration_start == technique.duration_end %>
        <%= technique.duration_start %>
      <% else %>
        <%= technique.duration_start %>-<%= technique.duration_end %>
      <% end %>
    hours</strong><br></span>


    <span>Participants: <strong><%= technique.clients.count %></strong><br></span>
    <span>Likes: <strong><%= technique.likes %></strong><br></span>
    <span>Dislikes: <strong><%= technique.dislikes %></strong><br></span>

    <span>
      <% if ClientManager::CompletedStepsCount.call(technique) == 0 %>
        GET STARTED
      <% elsif ClientManager::CompletedStepsCount.call(technique) < technique.steps.count %>
        CONTINUE
      <% else %>
        RESTART
      <% end %>
    <br></span>
    <br>
  <% end %>
</p>
