<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="dashboard">

  <div class="left-column">

    <div class="analytics">
      <div class="analytic">
        <p class="title">Total progress</p>

        <div class="number-description">
          <div class="number">
            <p><strong><%= ClientManager::TechniquesCompletedCount.call(current_user.client) %></strong></p>
          </div>

          <div class="description">
            <p class="text-muted font-size-small">techniques<br>completed</p>
          </div>
        </div>
      </div>
      
      <div class="analytic">
        <p class="title">Current progress</p>

        <div class="number-description">
          <div class="number">
            <p><strong><%= ClientManager::TechniquesInProgressCount.call(current_user.client) %></strong></p>
          </div>

          <div class="description">
            <p class="text-muted font-size-small">techniques in<br>process</p>
          </div>
        </div>
      </div>
      
      <div class="analytic">
        <p class="title">Total time</p>

        <div class="number-description">
          <div class="number">
            <p><strong><%= ClientManager::HoursCompleted.call(current_user.client) %></strong></p>
          </div>

          <div class="description">
            <p class="text-muted font-size-small">hours for<br>techniques</p>
          </div>
        </div>
      </div>
      
      <div class="analytic">
        <p class="title">Current time</p>

        <div class="number-description">
          <div class="number">
            <p><strong><%= ClientManager::HoursInProgress.call(current_user.client) %></strong></p>
          </div>

          <div class="description">
            <p class="text-muted font-size-small">hours for<br>techniques</p>
          </div>
        </div>
      </div>
    </div>

    <h3 class="mt-3">My Techniques</h3>
    
    <div class="techniques">
      <% current_user.profile.techniques.each do |technique| %>
        <%= render 'layouts/techniques/technique', technique: technique, show_continue: true %>
      <% end %>
    </div>

  </div>

  <div class="right-column">

    <div class="client-card">
      <div class="image-info">
        <div class="image">
          <%= image_tag(UserManager::ProfileImage.call(current_user), size: "50x50", alt: current_user.name) %>
        </div>

        <div class="info">
          <p>
            <strong><%= current_user.name %></strong>
            <%= link_to "Edit", update_client_info_path %>
          </p>
          
          <p><%= current_user.email %></p>
          <p><%= current_user.profile.age %> years | <%= current_user.profile.gender.name %></p>
        </div>
      </div>

      <p>Problems</p>
      <div class="problems">
        <% current_user.profile.problems.each do |problem| %>
          <div class="problem"><%= problem.name %></div>
        <% end %>
      </div>
    </div>

    <div class="coach-card">
      <% if ClientManager::CoachUser.call(current_user.client).nil? %>
        <% if ClientManager::UnconfirmedInvitation.call(current_user.client).nil? %>
          <p><%= link_to "You don't have a coach yet", coaches_path %></p>
        <% else %>
          <p>Waiting for confirmation</p>
          <p><strong><%= ClientManager::UnconfirmedInvitation.call(current_user.client).user.name %></strong></p>
          <p><%= link_to 'CANCEL', current_user.client.invitations.where(status: 0).last %></p>
        <% end %>
      <% else %>
        <p>Current coach</p>

        <div class="image-info">
          <div class="image">
            <%= image_tag(UserManager::ProfileImage.call(ClientManager::CoachUser.call(current_user.client)), size: "50x50", alt: ClientManager::CoachUser.call(current_user.client).name) %>
          </div>

          <div class="info">
            <p><strong><%= ClientManager::CoachUser.call(current_user.client).name %></strong></p>
            <p><%= link_to 'End Cooperation', current_user.client.invitations.where(status: 1).last %></p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="notifications">
      <h3>Notifications</h3>

      <% current_user.profile.notifications.each do |notification| %>
        <div class="client-card">
          <div class="image-info">
            <div class="image">
              <%= image_tag(UserManager::ProfileImage.call(current_user), size: "50x50", alt: current_user.name) %>
            </div>

            <div class="info">
              <p><%= notification.text %><br></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>

<%= render 'layouts/footer/footer' %>
