<h1>Personal information</h1>

<p><%= link_to "Update your credentials", update_user_info_path %></p>

<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div class='error_messages'>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @client.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <p>Image format should be png, jpg no more than 5 Mb</p>
  </div>

  <div class='field'>
    <%= f.label :age %>
    <%= f.number_field :age, in: 18..99 %>
  </div>

  <div class='field'>
    <%= f.label :gender_id %>
    <%= collection_radio_buttons('client', 'gender_id', Gender.all, :id, :name) %>
  </div>

  <div class='field'>
    <%= f.label :problem_ids %>
    <%= collection_check_boxes('client', 'problem_ids', Problem.all, :id, :name) %>
  </div>

  <div class='field'>
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>

  <div class='actions'>
    <%= f.submit 'SAVE CHANGES' %>
  </div>
<% end %>
