<%= render 'layouts/navigation', nav_for: 'app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="my-clients">
  <div class="links">
    <p>My Clients</p>
    <p><%= link_to "Waiting for confirmation (#{current_user.coach.invitations_count})", invitations_path %></p>
  </div>
  <hr />

  <div class="clients">
    <% @clients.each do |client| %>
      <%= render 'layouts/client', user: client.user, invitation: nil %>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>
