<h1>New Client</h1>

<%= form_for @client do |f| %>
  <% if @client.errors.any? %>
    <div class='error_messages'>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @client.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div class='field'>
    <%= f.label :age %>
    <%= f.number_field :age, in: 18..99 %>
  </div>

  <div class='field'>
    <%= f.label :gender %>
    <%= select("client", "gender_id", Gender.all.collect {|g| [ g.name, g.id ] }, { include_blank: true }) %>
  </div>

  <div class='field'>
    <%= f.label :problems %>
    <%= select("problems", Problem.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  </div>

  <div class='actions'>
    <%= f.submit 'Continue' %>
  </div>
<% end %>
