<%= render 'layouts/navigation/login' %>

<div class="login">
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Hello, <%= current_user.name %></h1>

  <p class="text-center"><strong>CLIENT &nbsp; <%= link_to "COACH", new_coach_path %></strong></p>

  <p class="text-center">You are registering as a Client in our system. Please, share some personal information about you so that we can personalize your onboarding experience</p>

  <%= form_for @client do |f| %>
    <% if @client.errors.any? %>
      <div class='error_messages'>
        <% for message in @client.errors.full_messages %>
          <p class='color-red'><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class='field mb-3'>
      <%= f.label :image, class: 'form-label' %>
      <%= f.file_field :image, class: 'form-control' %>
      <p class="text-muted font-size-small">Image format should be png, jpg no more than 5 Mb</p>
    </div>

    <div class='field mb-3'>
      <%= f.label :age, class: 'form-label' %>
      <%= f.number_field :age, in: 18..99, class: 'form-control' %>
    </div>

    <div class='field mb-3'>
      <%= f.label :gender_id, class: 'form-label' %>
      <%= collection_radio_buttons('client', 'gender_id', Gender.all, :id, :name) %>
    </div>

    <div class='field mb-3'>
      <%= f.label :problem_ids, class: 'form-label' %>
      <%= collection_check_boxes('client', 'problem_ids', Problem.all, :id, :name) %>
    </div>

    <div class='actions'>
      <%= f.submit 'SAVE', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<%= render 'layouts/footer/footer' %>
