<%= render 'layouts/navigation', nav_for: 'home' %>

<div class="index">
  <div class="banner banner-welcome">
    <div class="d-flex">
      <div class="flex-fill">
        <p class="lead">Coaching<br />
          WEB Platform</p>

        <p class="description">Where coaches help users to deal<br />
          with anxiety and depression</p>

        <%= link_to "JOIN US", "signup", class: 'btn btn-primary' %>
      </div>

      <%= image_tag("top-banner.jpg", :alt => "rss feed") %>
    </div>

    <div class="d-flex rates">
      <div class="flex-fill">
        <p class="lead"><%= Technique.count %></p>
        <p class="description">Effective techniques</p>
      </div>

      <div class="flex-fill">
        <p class="lead"><%= Coach.count %></p>
        <p class="description">Qualified coaches</p>
      </div>

      <div class="flex-fill">
        <p class="lead"><%= Client.count %></p>
        <p class="description">Satisfied users</p>
      </div>
    </div>
  </div>

  <div class="banner banner-work">
    <h1><a name="how-does-it-work"></a>How does it work?</h1>

    <div class="steps d-flex">
      <div class="flex-fill">
        <h2>For users</h2>

        <div class="step">
          <div class="d-flex">
            <h3>1</h3>
            <p class="flex-fill">You can choose the coach with whom you will be most comfortable working.</p>
          </div>
        </div>
        <div class="step">
          <div class="d-flex">
            <h3>2</h3>
            <p class="flex-fill">Your coach will make a program for you using the best psychotherapy techniques available today.</p>
          </div>
        </div>
        <div class="step">
          <div class="d-flex">
            <h3>3</h3>
            <p class="flex-fill">Your coach will support you in personal communication throughout the program and you will see real progress and feel better!</p>
          </div>
        </div>
      </div>

      <div class="flex-fill">
        <h2>For coaches</h2>

        <div class="step">
          <div class="d-flex">
            <h3>1</h3>
            <p class="flex-fill">You have the opportunity to help real people with their problems.</p>
          </div>
        </div>
        <div class="step">
          <div class="d-flex">
            <h3>2</h3>
            <p class="flex-fill">We have all the most modern and latest techniques in the field of psychotherapy for you and your users.</p>
          </div>
        </div>
        <div class="step">
          <div class="d-flex">
            <h3>3</h3>
            <p class="flex-fill">You can get real practice as a psychotherapist, observing the progress of your work with various problems of users online.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner banner-techniques">
    <h1><a name="techniques"></a>Techniques</h1>

    <p class="description text-center">Our service offers the best techniques for our users</p>

    <div class="card-group">
      <% Technique.limit(3).each do |technique| %>
        <div class="card">
          <%= render 'layouts/technique', technique: technique, show_continue: false, for_view: "home" %>
        </div>
      <% end %>
    </div>

    <p class="description text-center mt-5 mb-0">Do you want to let go of your worries and fears?</p>

    <p class="text-center"><%= link_to "JOIN US", "signup", class: 'btn btn-primary' %></p>
  </div>

  <div class="banner banner-coaches">
    <h1><a name="coaches"></a>Coaches</h1>

    <p class="description text-center">Ability to choose the coach, who will select each user technique individually</p>

    <div class="gallery">
      <div class="gallery-column">
        <div class="gallery-item gallery-item-big">
          <%= render 'layouts/coach', user: Coach.first.user, full_info: true %>
        </div>
      </div>

      <div class="gallery-column">
        <% Coach.last(3).each do |coach| %>
          <div class="gallery-item gallery-item-small">
            <%= render 'layouts/coach', user: coach.user, full_info: false, show_links: false %>
          </div>
        <% end %>
      </div>

      <div class="gallery-column">
        <% Coach.last(6).first(3).each do |coach| %>
          <div class="gallery-item gallery-item-small">
            <%= render 'layouts/coach', user: coach.user, full_info: false, show_links: false %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="block-links">
      <p class="description text-center">Do you want to help people?<br />
        Do you have experience and skills in psychotherapy?</p>

      <p class="text-center"><%= link_to "BECOME COACH", "signup", class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
