<p id="notice"><%= notice %></p>

<h1>Coach Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Coach</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coach_notifications.each do |coach_notification| %>
      <tr>
        <td><%= coach_notification.text %></td>
        <td><%= coach_notification.coach_id %></td>
        <td><%= link_to 'Show', coach_notification %></td>
        <td><%= link_to 'Edit', edit_coach_notification_path(coach_notification) %></td>
        <td><%= link_to 'Destroy', coach_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach Notification', new_coach_notification_path %>
