<h1>Recommend to your users</h1>

<%= form_for @clients_technique do |f| %>
  <div class='field'>
    <%= f.label :technique_id %>
    <%= f.text_field :technique_id, value: params[:technique_id] %>
  </div>

  <div class='field'>
    <%= f.label :client_id %>
    <%= collection_check_boxes('clients_technique', 'client_id', @clients, :id, :name) %>
  </div>

  <div class='actions'>
    <%= f.submit 'SAVE CHANGES' %>
  </div>
<% end %>
