<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @clients_technique.client_id %>
</p>

<p>
  <strong>Technique:</strong>
  <%= @clients_technique.technique_id %>
</p>

<%= link_to 'Edit', edit_clients_technique_path(@clients_technique) %> |
<%= link_to 'Back', clients_techniques_path %>
