<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="my-clients">
  <div class="links">
    <p><%= link_to "My Clients", clients_path %>
    <p><%= "Waiting for confirmation (#{current_user.coach.invitations_count})" %></p>
  </div>
  <hr />

  <div class="clients">
    <% @invitations.each do |invitation| %>
      <%= render 'layouts/client', user: invitation.client.user, invitation: invitation %>
    <% end %>
  </div>
</div>

<%= render 'layouts/footer' %>

