<%= render 'layouts/navigation', nav_for: 'app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="login text-center">
  <h1>New Invitation</h1>

  <p>Do you really want to ask <strong><%= @coach_name %></strong> to become your coach?<br>All other invitations will be canceled automatically.</p>

  <p><%= link_to 'CONFIRM', new_invitation_path(coach_id: params['coach_id'], status: 0), class: 'btn btn-primary' %></p>
</div>

<%= render 'layouts/footer' %>
