<%= render 'layouts/navigation', nav_for: 'app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="login text-center">
  <h1>Cancel Invitation</h1>

  <% if @invitation.status == 0 %>
    <p>Are you sure you want to cancel your invitation to cooperation with <strong><%= @invitation.coach.user.name %></strong>?</p>
  <% elsif @invitation.status == 1 %>
    <p>Are you sure you want to end cooperation with <strong><%= @invitation.coach.user.name %></strong>?</p>
  <% end %>

  <%= link_to 'CANCEL', dashboard_path, class: 'btn btn-primary mb-3' %>
  <%= link_to 'YES, I WANT', @invitation, method: :delete, class: 'btn btn-primary' %>

</div>

<%= render 'layouts/footer' %>
