<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @clients_problem.client_id %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @clients_problem.problem_id %>
</p>

<%= link_to 'Edit', edit_clients_problem_path(@clients_problem) %> |
<%= link_to 'Back', clients_problems_path %>
