<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="coaches-view">
  <div class="left-column">
    <div class="coach-card">
      <% if Coach.for_client(current_user.client).empty? %>
        <% if Coach.unconfirmed(current_user.client).empty? %>
          <p><%= link_to "You don't have a coach yet", coaches_path %></p>
        <% else %>
          <p>Waiting for confirmation</p>
          <p><strong><%= Coach.unconfirmed(current_user.client).first.user.name %></strong></p>
          <p><%= link_to 'CANCEL', current_user.client.invitations.where(status: 0).last %></p>
        <% end %>
      <% else %>

        <div class="image-info">
          <div class="image">
            <%= image_tag(profile_image(Coach.for_client(current_user.client).first.user), size: "50x50", alt: Coach.for_client(current_user.client).first.user.name) %>
          </div>

          <div class="info">
            <p>
              Current coach:<br>
              <strong><%= Coach.for_client(current_user.client).first.user.name %></strong><br>
              <%= link_to 'End Cooperation', current_user.client.invitations.where(status: 1).last %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="filters mt-3">
      <h3>Filters</h3>

      <%= form_with url: '/coaches', method: :get do |f| %>
        <div class="expertise field mb-3">
          <p>Expertise<br>
            <%= collection_check_boxes('filters', 'problem_ids', Problem.all, :id, :name) %>
          </p>
        </div>

        <div class="gender field mb-3">
          <p>Gender<br>
            <%= collection_check_boxes('filters', 'genders', Coach.genders.hash, :first, :first) %>
          </p>
        </div>

        <div class='actions'>
          <%= f.submit 'SEARCH', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-column">
    <div class="coaches">
      <% @coaches.each do |coach| %>
        <% if !Coach.for_client(current_user.client).empty? and Coach.for_client(current_user.client).first.id == coach.id %>
        <% else %>
          <%= render 'layouts/coach', user: coach.user, full_info: false %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'layouts/footer' %>
