<p id="notice"><%= notice %></p>

<h1>Coaches</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>image</th>
      <th>Age</th>
      <th>Education</th>
      <th>Work</th>
      <th>Licenses</th>
      <th>Links</th>
      <th>User</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.id %></td>
        <td><%= coach.image %></td>
        <td><%= coach.age %></td>
        <td><%= coach.education %></td>
        <td><%= coach.work %></td>
        <td><%= coach.licenses %></td>
        <td><%= coach.links %></td>
        <td><%= coach.user_id %></td>
        <td><%= coach.gender_id %></td>
        <td><%= link_to 'Show', coach %></td>
        <td><%= link_to 'Edit', edit_coach_path(coach) %></td>
        <td><%= link_to 'Destroy', coach, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach', new_coach_path %>
