<%= render 'layouts/navigation/app', user: current_user %>

<p id="alert"><%= alert %></p>
<p id="notice"><%= notice %></p>

<div class="coaches-view">
  <div class="left-column">
    <div class="coach-card">
      <% if ClientManager::CoachUser.call(current_user.client).nil? %>
        <% if ClientManager::UnconfirmedInvitation.call(current_user.client).nil? %>
          <p><%= link_to "You don't have a coach yet", coaches_path %></p>
        <% else %>
          <p>Waiting for confirmation</p>
          <p><strong><%= ClientManager::UnconfirmedInvitation.call(current_user.client).user.name %></strong></p>
          <p><%= link_to 'CANCEL', current_user.client.invitations.where(status: 0).last %></p>
        <% end %>
      <% else %>

        <div class="image-info">
          <div class="image">
            <%= image_tag(UserManager::ProfileImage.call(ClientManager::CoachUser.call(current_user.client)), size: "50x50", alt: ClientManager::CoachUser.call(current_user.client).name) %>
          </div>

          <div class="info">
            <p>
              Current coach:<br>
              <strong><%= ClientManager::CoachUser.call(current_user.client).name %></strong><br>
              <%= link_to 'End Cooperation', current_user.client.invitations.where(status: 1).last %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="filters mt-3">
      <h3>Filters</h3>

      <%= form_with url: '/coaches', method: :get do |f| %>
        <div class="expertise field mb-3">
          <p>Expertise<br>
            <%= collection_check_boxes('filters', 'problem_ids', Problem.all, :id, :name) %>
          </p>
        </div>

        <div class="gender field mb-3">
          <p>Gender<br>
            <%= collection_check_boxes('filters', 'gender_ids', Gender.all, :id, :name) %>
          </p>
        </div>

        <div class='actions'>
          <%= f.submit 'SEARCH', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-column">
    <div class="coaches">
      <% @coaches.each do |coach| %>
        <% if !ClientManager::Coach.call(current_user.client).nil? and ClientManager::Coach.call(current_user.client).id == coach.id %>
        <% else %>
          <%= render 'layouts/coaches/small', user: coach.user %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<%= render 'layouts/footer/footer' %>
