<%= render 'layouts/navigation', nav_for: 'login' %>

<div class="login">
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Hello, <%= current_user.name %></h1>

  <p class="text-center"><strong><%= link_to "CLIENT", new_client_path %> &nbsp; COACH</strong></p>

  <p class="text-center">You are registering as a Coach in our system. Please, share some personal information about you so that we can personalize your onboarding experience</p>

  <%= form_for @coach do |f| %>
    <% if @coach.errors.any? %>
      <div class='error_messages'>
        <% for message in @coach.errors.full_messages %>
          <p class='color-red'><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class='field mb-3'>
      <%= f.label :image, class: 'form-label' %>
      <%= f.file_field :image, class: 'form-control' %>
    </div>

    <div class='field mb-3'>
      <%= f.label :age, class: 'form-label' %>
      <%= f.number_field :age, in: 18..99, class: 'form-control' %>
    </div>

    <div class='field mb-3'>
      <%= f.label :gender, class: 'form-label' %>
      <%= collection_radio_buttons('coach', 'gender', Coach.genders.hash, :first, :first) %>
    </div>

    <div class='field mb-3'>
      <%= f.label :problem_ids, class: 'form-label' %>
      <%= collection_check_boxes('coach', 'problem_ids', Problem.all, :id, :name) %>
    </div>

    <div class='field mb-3'>
      <%= f.label :education, class: 'form-label' %>
      <%= f.text_field :education, class: 'form-control' %>
    </div>

    <div class='field mb-3'>
      <%= f.label :work, class: 'form-label' %>
      <%= f.text_field :work, class: 'form-control' %>
    </div>

    <div class='field mb-3'>
      <%= f.label :licenses, class: 'form-label' %>
      <%= f.text_field :licenses, class: 'form-control' %>
    </div>

    <div class='field mb-3'>
      <%= f.label :links, class: 'form-label' %>
      <%= f.text_field :links, class: 'form-control' %>
    </div>

    <div class='actions'>
      <%= f.submit 'GET STARTED', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
