<p id="notice"><%= notice %></p>

<h1>Coaches Problems</h1>

<table>
  <thead>
    <tr>
      <th>Coach</th>
      <th>Problem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coaches_problems.each do |coaches_problem| %>
      <tr>
        <td><%= coaches_problem.coach_id %></td>
        <td><%= coaches_problem.problem_id %></td>
        <td><%= link_to 'Show', coaches_problem %></td>
        <td><%= link_to 'Edit', edit_coaches_problem_path(coaches_problem) %></td>
        <td><%= link_to 'Destroy', coaches_problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coaches Problem', new_coaches_problem_path %>
